@charset "UTF-8";
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
body{
background-color: #10454F;
}
main {
    color:white;
    width:60%;
    border-radius: 10px;
    margin:auto;
    background-color:black;
    padding: 10px;
    text-align: justify;
}
.principal{
 font:bold 3em arial sans-serif ;
 text-align: center;
 background-color: black;
}
h2{
    text-align: center;
}
div {
    background-color: #a3be26;
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 5px;
}
div:hover{
    color:rgb(0, 82, 0);
}
div > ul{
    display:none;
}
div:hover > ul{
    display:block;
}
.imagens {
    background-color: black;
    text-align: center;
    overflow: hidden;
}
.imagens img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.links{
    color: white;
    text-justify: auto;
    text-decoration-line: none;
}
h1{
    color: #19adab;
    text-shadow:1px 1px 2px #169e9c7e;
}
h2{
    color:#57C5B6;
}
li {
    color:white;
}
h3 {
    text-align: center;
}