@charset "UTF-8";
*/{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
body{
background-color: #002B5B;
}
main {
    color:white;
    width:600px;
    border-radius: 10px;
    margin:auto;
    background-color:black;
    padding: 10px;
    text-align: justify;
}
.principal{
 font:bold 3em arial sans-serif ;
 text-align: center;
 background-color: black;
}
h2{
    text-align: center;
}
div {
    background-color: #a3be26;
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 5px;
}
div:hover{
    color:green;
}
div > ul{
    display:none
}
div:hover > ul{
    display:block;
}
.imagens {
    background-color: black;
}
.links{
    color: white;
    text-justify: auto;
}
h2{
    color:#57C5B6
}
h1{
    color: #19adab;
    text-shadow:1px 1px 2px #169e9c7e;
}