@charset "UTF-8";

.logo-ll {
    height: 50px;
  }
.primacasa{
    width: 325px;
}
.imagem1{
    width: 300px;
    background-color: black;
    padding: 0%;
}
.casasecund{
    width:300px;
}
.secundimg{
    width: 100%;
    height: 100%;
}
.colunaimg2{
    padding-left: 0%;
    padding-right: 0%;
}
