@charset "UTF-8";

.logo-ll {
    height: 50px;
}
.container{
    min-width: 320px;
}
.bloco1{
   width: 59%;
}
.primacasabloco{
    width: 440px;
    
}
.imagem1{
    width: 100%;
    background-color: black;
}
.casasecund{
    width:440px;
}
.secundimg{
    width: 100%;
    height: 100%;
}
.colunaimg2{
    padding-left: 0%;
    padding-right: 0%;
}
.telacel{
    width: 50%;
    min-width: 320px;
    margin: auto;
}
.descricao{
    text-align: justify;
}
.icones{
    width: 25px;
}
.fotocoment{
    width: 50px;
    height: 50px;
}