@charset "UTF-8";

.logo-ll {
    height: 50px;
}
.container{
    min-width: 320px;
}
.telacel{
    width: 50%;
    min-width: 320px;
    margin: auto;
}
.descricao{
    text-align: justify;
}
.icones{
    width: 25px;
}
.fotocoment{
    width: 50px;
    height: 50px;
}
.fotodescr{
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 1px;
}